<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<h2>Tasks:</h2>
<% @user.tasks.each do |task| %>
  <p>
    <%= task.title %>
  </p>
  <p>
  <%= link_to 'Destroy Task', [task.user, task],
               method: :delete %>
  </p>
<% end %>

<h2>Add a task:</h2>
<%= form_for([@user, @user.tasks.build]) do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_area :title %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>