<% provide(:title, @user.name) %>
<div class = "container">
  <div class = "row">
    <div class = "col-sm-4">
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <h2>Add a task:</h2>
      <div>
        <%= form_for([@user, @user.tasks.build]) do |f| %>
          <p>
            <% f.label :title %>
            <%= f.text_area :title, class: "form-control", rows: "3" %>
          </p>
          <p>
            <%= f.submit "Create Task", class: "btn btn-primary" %>
          </p>
        <% end %>
      </div>
    </div>
    <div class = "col-sm-8">
        <div>
          <h2>Tasks:</h2>
          <% @user.tasks.each do |task| %>
            <% unless task.done %>
              <div>
                <%= task.title %>
                <%= link_to 'Destroy Task', [task.user, task],method: :delete, class: "btn btn-danger btn-xs pull-right" %>
                <%= link_to 'Task Done', "#", class: "btn btn-success btn-xs pull-right" %>
                <p></p>
              </div>
            <% end %>
          <% end %>
        </div>
        <div>
          <h2>Done Tasks:</h2>
          <% @user.tasks.each do |task| %>
            <% if task.done %>
              <%= task.title %>
              <%= link_to 'Destroy Task', [task.user, task],method: :delete, class: "btn btn-danger btn-xs pull-right" %></p>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>
