<% provide(:title, @user.name) %>
<div class = "container">
  <div class = "row">
    <div class = "col-sm-4">
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <h2>Add a task:</h2>
      <div>
        <%= form_for([@user, @user.tasks.build]) do |f| %>
          <p>
            <% f.label :title %>
            <%= f.text_area :title, class: "form-control", rows: "3" %>
          </p>
          <p>
            <%= f.submit "Create Task", class: "btn btn-primary" %>
          </p>
        <% end %>
      </div>
    </div>
    <div class = "col-sm-8">
        <div>
          <h2>Tasks:</h2>
          <% @user.tasks.each do |task| %>
            <%= task.title %>
            <%= link_to 'Destroy Task', [task.user, task],method: :delete, class: "btn btn-danger btn-xs pull-right" %></p>
          <% end %>
        </div>
        <div>
          <h2>Done Tasks:</h2>
        </div>
    </div>
  </div>
</div>
